{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDB Electronics - Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="script" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <header>
        <nav class="d-flex justify-content-between px-4">
            <a href="/">
                <button class="p-2">
                    <i class="fa-solid fa-house"></i> EDB
                </button>
            </a>
            <section class="d-flex">
                <select name="all-departments">
                    <option value="all-departments" selected disabled>Todos los departamentos</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.department }}</option>
                    {% endfor %}
                </select>
                <input type="text">
            </section>
            <section class="d-flex">
                <a href="/cart">
                    <button class="p-2">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </a>
                <a href="/profile">
                    <button class="p-2">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </section>
        </nav>
    </header>
    <main>
        <section class="d-flex w-100 py-2 bg-white">
            {% for department in departments %}
            <a href="/product/{{ department.department }}" class="text-decoration-none">
                <div class="d-flex align-items-center gap-2">
                    <i class="{{ department.icon }}"></i>
                    <p>{{ department.department }}</p>
                </div>
            </a>
          {% endfor %}
        </section>
        <h3 class="nuestros-departamentos">Nuestros departamentos</h3>
        <section id="departamentos">
          {% for department in departments %}
            <a href="/tienda/{{ department.department }}" style="text-decoration: none; color: inherit;">
                <div class="departamento">
                    <h5><i class="{{ department.icon }}"></i> {{ department.department }}</h5>
                </div>
            </a>
          {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; 2023 EDB Electronics. Todos los derechos reservados.</p>
    </footer>
</body>

</html>